* {
  margin: 0;
  padding: 0;
  outline: none;

  user-select: none;
}

#navbar-name {
  margin-left: 10px;
  margin-top: 6px;
}
.nav-card {
  background-color: rgb(238, 233, 233);
  box-shadow: 0px 0px 5px rgb(145, 144, 144);
  height: 55px;

  width: 100vw;
}
@media only screen and (min-width: 760px) {
  .nav-card {
    padding-left: 50px;
    padding-right: 30px;
  }
}

.logo-card {
  text-align: center;
  padding: 0;
  margin: 0px;
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .logo-card {
    margin-left: 33px;
  }
}

.logo {
  margin: 0;
  padding: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgb(183, 178, 178);
  margin-bottom: 7px;
}

.images {
  margin-left: 10px;
  color: blue;
  font-weight: bold;
}
.bg-image-card {
  background-image: url(" https://images.pexels.com/photos/1276518/pexels-photo-1276518.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 145vh;
  width: 100vw;
  background-size: cover;
}

.login-card {
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 8px white;
}

.email {
  font-size: 19px;
  font-weight: 500;
  color: white;
}

.form {
  border: 1px solid;
  height: 100px;
}
.form-cont {
  border: 1px solid;
  width: 250px;
  height: 35px;
  border-radius: 20px;
  padding-left: 14px;
}

.check-txt {
  font-size: 14px;
  color: white;
}

.submit-bt:hover {
  background-color: rgb(224, 33, 231);
}
.submit-bt {
  font-size: 17px;

  font-weight: 500;
  background-color: rgb(33, 135, 231);
  border: none;
  width: 250px;
  height: 35px;
  color: white;
  border-radius: 20px;
}

#loginbt {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  color: white;
}

#signupbt {
  display: inline-block;
  cursor: pointer;
  color: white;
}

@media only screen and (min-width: 760px) {
  .best-head-card {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
  }
  .best-text {
    font-size: 40px;
  }
}

/* signup styling starts here  */
.signup-card {
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 8px white;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.signup-texts {
  font-size: 19px;
  font-weight: 500;
  color: white;
}
.signup-form {
  border: 1px solid;
  width: 250px;
  height: 35px;
  border-radius: 20px;
  padding-left: 14px;
}

.camera {
  cursor: pointer;
  margin-left: 5px;
}

#signupdiv {
  display: none;
}

#signupdiv:hover {
  box-shadow: 0px 0px 8px rgb(231, 47, 227);
  border: 1px solid rgb(236, 46, 179);
}

#logindiv:hover {
  box-shadow: 0px 0px 8px rgb(231, 47, 227);
  border: 1px solid rgb(236, 46, 179);
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainpage {
  display: none;
  margin-top: 55px;
}

#log-pro-cont {
  display: none;
}

.log-out-bt {
  margin-right: 5px;

  font-size: 18px;

  color: rgb(35, 42, 250);
}

@media only screen and (min-width: 760px) {
  .log-out-bt {
    margin-right: 100px;
  }
}

.log-out-bt:hover {
  color: rgb(220, 11, 189);
  cursor: pointer;
}

.navbar-name {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

#image-file {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

/* main page styling */
.backimage-div {
  background-image: url("camera-bg.jpeg");
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbt:hover{
  background-color: rgb(230, 85, 23);
}

@media only screen and (max-width: 760px) {
  .backimage-div {
    height: 50vh;
  }

  .input-main {
    width: 290px;
    background-color: white;
    height: 40px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
  }

  #search {
    width: 200px;
    height: 30px;
    border: none;
    text-transform: capitalize;
  }

  .searchbt {
    height: 40px;
    border: none;
    background-color: blue;
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: 500;
  }
}

@media only screen and (min-width: 760px) {
  .input-main {
    width: 390px;
    background-color: white;
    height: 45px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
  }

  #search {
    width: 250px;
    height: 30px;
    border: none;
    text-transform: capitalize;
  }

  .searchbt {
    height: 45px;
    border: none;
    background-color: blue;
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: 500;
  }
}

.free-stock-card {
  display: flex;
  justify-content: space-between;
}

.search-img-card {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  row-gap: 10px;
}

.search-img-sub-card {
  width: 355px;
  border-radius: 10px;
  height: 300px;
  margin-top: 10px;
  background-color: rgb(247, 243, 243);
  border-radius: 10px;
  box-shadow: 0 0 6px rgb(151, 149, 149);
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.search-img-sub-card:hover {
  opacity: 0.8;
}

.search-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 355px;
  height: 250px;
}

.img-name {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .search-img {
    width: 100%;
    height: 250px;
  }

  .search-img-sub-card {
    width: 100%;

    height: 300px;
  }

  .search-img-card {
  }
}

#show-more-bt {
  display: none;
}

.show-btn-card {
  display: flex;
  justify-content: center;
}

/* footer section  */

.footer-section {
  text-align: center;
}

.logo-footer-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  margin: 0;
  padding: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;

  margin-bottom: 7px;
}

.footer-text {
  font-size: 14px;
  text-transform: capitalize;
}

.footer-links {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.face-icon-2 {
  color: white;
  height: 25px;
  width: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.face-icon {
  color: white;
  height: 25px;
  width: 25px;
}

.face-icon-2:hover {
  color: blue;
}


.face-icon:hover {
  color: blue;
}

/* offcanvas styling  */

.offcanvas-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#offcanvas-image-file {
  width: 120px;
  height: 120px;
}

.off-icons-div {
  display: flex;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
}

#flexSwitchCheckDefault{
  font-size: 20px;
  cursor: pointer;
  
}

.share-text {
  color: white;
  margin-top: 4px;
}
.share-icon {
  color: white;
  margin-right: 14px;
}

.off-icons-div:hover {
  background-color: rgb(24, 146, 245);
}

.off-link {
  text-decoration: none;
  color: white;
}
